@import '../../styles/variables';

.cardsList {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-medium;
}

.cardsListAutoSpace {
    gap: auto;
}

.cardsList > * {
  flex: 0 0 350px; // grow/shrink but prefer 300px width
}
