// Brand Theme

/* --- Colors --- */

// Primary
$primary-dark-blue: #293648;
$primary-off-white: #F6F7F9;
$primary-white: #FFFFFF;

// Accent
$accent-pink: #F15BB5;
$accent-green: #AEFF4C;
$accent-teal: #44B2E2;

// Text
$text-light: $primary-off-white;
$text-dark: $primary-dark-blue;
$text-link: #0065F2;
$text-link-light: #C7DDFF;

// Surface
$background-light: $primary-white;
$background-dark: $primary-dark-blue;
$surface-light: $primary-off-white;
$card-light: $primary-white;
$card-dark: $primary-dark-blue;

// Border
$border-light: #D9DBE3;
$border-dark: #58595d;

// Indicator
$indicator-in-progress: #F15BB5;
$indicator-draft: #E26E44;
$indicator-in-review: #BF00FF;
$indicator-approved: #69CF55;
$indicator-completed: #5081EB;

/* --- Spacing --- */

// Padding
$padding-x-small: 1rem; // 16px
$padding-small: 1.5rem; // 24px
$padding-medium: 3rem; // 48px
$padding-large: 6rem; // 96px

// Gap
$gap-x-small: 1rem; // 16px
$gap-small: 1.5rem; // 24px
$gap-smedium: 1.875rem; // 30px
$gap-medium: 3rem; // 48px
$gap-large: 6rem; // 96px

// Border Radius
$border-radius: 100px;
$border-radius-card: 1rem;

/* --- Fonts --- */

// Fonts
$primary-font-family: var(--font-mona-sans), sans-serif;
$secondary-font-family: var(--font-roboto-slab), serif;