@import  "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

// Brand Theme

/* --- Colors --- */

// Primary
$primary-dark-blue: #293648;
$primary-off-white: #F6F7F9;
$primary-white: #FFFFFF;

// Accent
$accent-pink: #F15BB5;
$accent-green: #AEFF4C;
$accent-teal: #44B2E2;

// Text
$text-light: $primary-off-white;
$text-dark: $primary-dark-blue;
$text-link: #0065F2;
$text-link-light: #C7DDFF;

// Surface
$background-light: $primary-white;
$background-dark: $primary-dark-blue;
$card-light: $primary-off-white;
$card-dark: $primary-dark-blue;

// Border
$border-light: #D9DBE3;
$border-dark: #58595d;

// Indicator
$indicator-in-progress: #F15BB5;
$indicator-draft: #E26E44;
$indicator-in-review: #BF00FF;
$indicator-approved: #69CF55;
$indicator-completed: #5081EB;

/* --- Spacing --- */

// Padding
$padding-x-small: 1rem; // 16px
$padding-small: 1.5rem; // 24px
$padding-medium: 3rem; // 48px
$padding-large: 6rem; // 96px

// Gap
$gap-x-small: 1rem; // 16px
$gap-small: 1.5rem; // 24px
$gap-smedium: 1.875rem; // 30px
$gap-medium: 3rem; // 48px
$gap-large: 6rem; // 96px

// Border Radius
$border-radius: 100px;
$border-radius-card: 1rem;

/* --- Fonts --- */
$h1-size: 3.3rem;
$h2-size: 2rem;
$p-large-size: 1.4rem;
$p-small-size: 1.2rem;
$p-x-small-size: 1rem;
$p-large-size: 2rem;
$a-size-small: 1.2rem;

$primary-font-family: "Mada", sans-serif;

body {
  font-family: $primary-font-family;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: $background-light;
  color: $text-dark;
  height: 100vh;
}

h1, h2, p, a {
  font-weight: 400;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

p, li {
  font-size: $p-small-size;
}

a {
  font-size: $a-size-small;
}

// Main Layout
.site-wrapper {
  display: flex;
  height: 100%;
}

.main-app-content {
  height: calc(100% - 150px);
  padding: $padding-large $padding-large $padding-medium $padding-large;
}

.main-content-wrapper {
  height: 100%;
}

// Button Styles
.btn {
  display: flex;
  align-items: center;
  gap: $padding-x-small;
  border-radius: 30px;
  padding: 5px 20px;
  border: none;
  font-size: $p-small-size;
  font-weight: 500;
  width: max-content;

  transition: 0.25s;
}

.btn-primary-on-light {
  background-color: $primary-dark-blue;
  border: solid 3px $border-dark;
  color: $text-light;
}

.btn-primary-on-light:hover {
  background-color: transparent;
  border: solid 3px $border-dark;
  color: $text-dark;
}

.btn-secondary-on-dark {
  background-color: transparent;
  border: solid 3px white;
  color: white;
}

.btn-secondary-on-dark:hover {
  background-color: $background-dark;
  border-color: $primary-dark-blue;
  color: $text-dark;
}

.btn-secondary:hover {
  background-color: $primary-dark-blue;
  color: white;
}

.btn-icon {
  padding-top: 2px;
}

// Navbar Styles
.navbar {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 0px 24%;
  bottom: 50px;
  gap: $padding-medium;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  background-color: $background-dark;
  border-radius: 60px;
}

.navbar-inner {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: space-between;
  color: $text-dark;
  overflow: hidden;
  gap: $padding-large;
}

.navbar-links-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: $padding-large;
  width: 100%;
}

.navbar-links-wrapper a {
  width: 100%;
  text-decoration: none;
}

.navIcon {
  color: white;
  font-size: 1.75rem;
}

.navIcon i:hover {
  color: $text-dark;

  transition: 0.25s;
}

//New Decision Button
.new-dec-btn-wrapper {
  width: auto;
}

.new-decision-btn {
  color: $text-light;
  background-color: $background-dark;
  border: $border-dark 3px solid;
}

.new-icon {
  font-size: 1.75rem;
}

// .navLink-home, .navLink-decisions, .navLink-new, .navLink-audit {

// }

// Home Page Dashboard Styles
.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: $padding-medium;
  height: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100%;
  gap: $padding-medium;
  align-items: stretch;
  padding: 0;
}

.dashboard-top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  gap: $padding-medium;
}

.pending-decisions-wrapper, .recent-activity-wrapper, .quick-actions {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: $card-light;
  padding: $padding-medium;
}

.quick-actions {
  height: 50%;
}

.quick-actions-links {
  display: flex;
  width: 100%;
  gap: $padding-small;
}

// Modal Style
.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b212fbe;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: $background-light;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: $padding-small;
}

.modal-content h2 {
  color: $text-dark;
}

.dec-form-wrapper {
  padding: 0 $padding-medium $padding-small $padding-medium;
}

.dec-form {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  gap: $padding-small;
}

.dec-form input, .dec-form textarea {
  font-size: $p-small-size;
  padding: 15px 20px;
  border: 1px $border-dark solid;
}

.dec-form input {
  border-radius: 30px;
}

.dec-form textarea {
  min-height: 150px;
  border-radius: 20px;
}

.dec-form button {
  margin: auto;
}

.close-btn {
  float: right;
  border: none;
  background-color: transparent;
  padding: 0;
}

.close-icon {
  font-size: 1.4rem;
}

// New Decision Form Styles
.decision-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $padding-medium;
  height: fit-content;
  width: fit-content;
  min-width: 500px;
  background-color: $background-dark;
  border-radius: 20px;
  padding: $padding-medium;
}

.decision-form-input {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

// .sign-out-wrapper {

// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}