@import  "bootstrap/dist/css/bootstrap.min.css";

// Brand Theme

/* --- Colors --- */

// Primary
$primary-dark-blue: #293648;
$primary-off-white: #F6F7F9;
$primary-white: #FFFFFF;

// Accent
$accent-pink: #F15BB5;
$accent-green: #AEFF4C;
$accent-teal: #44B2E2;

// Text
$text-light: $primary-off-white;
$text-dark: $primary-dark-blue;
$text-link: #0065F2;
$text-link-light: #C7DDFF;

// Surface
$background-light: $primary-white;
$background-dark: $primary-dark-blue;
$card-light: $primary-off-white;
$card-dark: $primary-dark-blue;

// Border
$border-light: #D9DBE3;
$border-dark: #58595d;

// Indicator
$indicator-in-progress: #F15BB5;
$indicator-draft: #E26E44;
$indicator-in-review: #BF00FF;
$indicator-approved: #69CF55;
$indicator-completed: #5081EB;

/* --- Spacing --- */

// Padding
$padding-x-small: 1rem; // 16px
$padding-small: 1.5rem; // 24px
$padding-medium: 3rem; // 48px
$padding-large: 6rem; // 96px

// Gap
$gap-x-small: 1rem; // 16px
$gap-small: 1.5rem; // 24px
$gap-smedium: 1.875rem; // 30px
$gap-medium: 3rem; // 48px
$gap-large: 6rem; // 96px

// Border Radius
$border-radius: 100px;
$border-radius-card: 1rem;

/* --- Fonts --- */

// Fonts
$primary-font-family: var(--font-mona-sans), sans-serif;
$secondary-font-family: var(--font-roboto-slab), serif;

body {
  font-family: $primary-font-family;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $background-light;
  color: $text-dark;
  height: 100vh;
}

h1, h2, h2, p {
  font-family: $primary-font-family;
}

h1 {
  font-size: 2.75rem;
  line-height: 4.125rem;
  font-weight: 600; // Bold
}

h2 {
  font-size: 2.125rem;
  line-height: 3.188rem;
  font-weight: 500; // Semi Bold
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600; // Bold
}

.small-label {
  text-transform: uppercase;
  font-family: $primary-font-family;
  font-size: 1rem;
  line-height: 1.5rem;
}

p, li {
  font-size: 1.125rem;
  line-height: 1.813rem;
  font-weight: 300; // Regular
}

a, .data-text {
  font-family: $secondary-font-family;
}

a {
  font-size: 1.125rem;
  line-height: 1.688rem;
  font-weight: 400; // Regular
  color: $text-link;
  text-decoration: underline;
}

.data-text {
  font-size: 1.125rem;
  line-height: 1.688rem;
  font-weight: 600; // Semi Bold
}

.menuLink {
  color: $text-light;
  font-family: $primary-font-family;
  font-size: 1.25rem;
  font-weight: 400; // Medium
  line-height: 1.875rem;
}

.menuLink.active {
  color: $text-dark;
  font-weight: 700; // Extra Bold
}

.button-text {
  font-family: $primary-font-family;
  font-size: 1.125rem;
  line-height: 1.688rem;
  font-weight: 600; // Bold
}

// Main Layout
.site-wrapper {
  height: 100%;
  padding: $padding-small;
  gap: $gap-medium;
}

.main-app-content {
  max-height: calc(100vh - $padding-large);
  overflow-y: scroll;
  padding-top: $padding-medium;
  width: auto;
}

.main-content-wrapper {
  height: 100%;
}

.title-wrapper {
  display: flex;
  gap: $gap-small;
}

// Navbar Styles
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: $padding-medium;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  background-color: $background-dark;
  border-radius: 1.5rem;
  height: 100%;
}

.navbar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  padding: $padding-large 0 $padding-large $padding-small;
  align-items: center;
  justify-content: space-between;
  color: $text-dark;
  overflow: hidden;
}

.navbar-items-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $gap-medium;
  width: 100%;
}

.navbar-items-wrapper a {
  width: 100%;
  text-decoration: none;
  color: $text-light;
}

.navbar-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 0.75rem $padding-medium 0.75rem $padding-small;
  border-radius: 40px 0 0 40px;
}

.navLink.active {
  background-color: $background-light;
}

.navIcon {
  color: $text-light;
  font-size: 1.75rem;
  margin-right: $padding-x-small;
}

//New Decision Button
.new-dec-btn-wrapper {
  width: auto;
}

.new-decision-btn {
  color: $text-light;
  background-color: $background-dark;
  border: $border-dark 3px solid;
}

.new-icon {
  font-size: 1.75rem;
}

// .navLink-home, .navLink-decisions, .navLink-new, .navLink-audit {

// }

// Button Styles
.btn {
  display: flex;
  align-items: center;
  gap: $padding-x-small;
  border-radius: 30px;
  padding: 5px 20px;
  border: none;
  width: max-content;

  transition: 0.25s;
}

.btn-primary-on-light {
  background-color: $primary-dark-blue;
  border: solid 3px $border-dark;
  color: $text-light;
}

.btn-primary-on-light:hover {
  background-color: transparent;
  border: solid 3px $border-dark;
  color: $text-dark;
}

.btn-secondary-on-dark {
  background-color: transparent;
  border: solid 3px white;
  color: white;
}

.btn-secondary-on-dark:hover {
  background-color: $background-dark;
  border-color: $primary-dark-blue;
  color: $text-dark;
}

.btn-secondary:hover {
  background-color: $primary-dark-blue;
  color: white;
}

.btn-icon {
  padding-top: 2px;
}

// Home Page Dashboard Styles
.page-wrapper {
  display: flex;
  height: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100%;
  gap: $gap-small;
  align-items: stretch;
  padding: 0;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
}

.dashboard-top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  gap: $gap-small;
}

.pending-decisions-wrapper, .recent-activity-wrapper, .quick-actions {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: $card-light;
  padding: $padding-medium;
  gap: $gap-medium;
}

.quick-actions {
  height: 50%;
}

.quick-actions-links {
  display: flex;
  width: auto;
  gap: $padding-small;
}

// Modal Style
.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b212fbe;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: $background-light;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: $padding-small;
}

.modal-content h2 {
  color: $text-dark;
}

.dec-form-wrapper {
  padding: 0 $padding-medium $padding-small $padding-medium;
}

.dec-form {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  gap: $padding-small;
}

.dec-form input, .dec-form textarea {
  font-size: 1rem;
  padding: 15px 20px;
  border: 1px $border-dark solid;
}

.dec-form input {
  border-radius: 30px;
}

.dec-form textarea {
  min-height: 150px;
  border-radius: 20px;
}

.dec-form button {
  margin: auto;
}

.close-btn {
  float: right;
  border: none;
  background-color: transparent;
  padding: 0;
}

.close-icon {
  font-size: 1.4rem;
}

// New Decision Form Styles
.decision-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $padding-medium;
  height: fit-content;
  width: fit-content;
  min-width: 500px;
  background-color: $background-dark;
  border-radius: 20px;
  padding: $padding-medium;
}

.decision-form-input {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.sign-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: $text-light;
  background-color: transparent;
  border: none;

  transition: 0.25s ease-in-out;
}

.sign-out:hover {
  opacity: 0.5;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}