@import  "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

// Brand Theme
// Colors
$red-100: #EE7676;
$red-90: #F08484;
$red-80: #F19191;
$red-70: #F39F9F;
$red-60: #F5ADAD;
$red-50: #F7BBBB;
$red-40: #F8C8C8;
$red-30: #FAD6D6;
$red-20: #FCE4E4;
$red-10: #FEF2F2;
$yellow-100: #F2D67D;
$yellow-90: #F3DB8A;
$yellow-80: #F4DE97;
$yellow-70: #F6E3A4;
$yellow-60: #F7E6B1;
$yellow-50: #F8EBBE;
$yellow-40: #F9EFCB;
$yellow-30: #FBF3D8;
$yellow-20: #FCF7E5;
$yellow-10: #FEFBF2;
$blue-100: #7093EB;
$blue-90: #7F9EED;
$blue-80: #8DA9EF;
$blue-70: #9BB4F1;
$blue-60: #A9BEF3;
$blue-50: #B8C9F5;
$blue-40: #C6D4F7;
$blue-30: #D5DFF9;
$blue-20: #E2E9FB;
$blue-10: #F1F5FD;
$text-on-dark: #FFFFFF;
$text-on-light: #323C55;

$background-light: $blue-10;
$background-dark: #323C55;

// Placeholder Colors
$dark-gray: rgb(55, 55, 55);
$medium-gray: rgb(112, 112, 112);
$light-gray: rgb(222, 222, 222);

// Spacing
$sp-xx-large: 12rem;
$sp-x-large: 9rem;
$sp-large: 6rem;
$sp-medium: 3rem;
$sp-small: 1.5rem;
$sp-x-small: 0.65rem;

// Standard Border Radius
$border-radius: 100px;

// Font Styles
$h1-size: 3.3rem;
$h2-size: 2rem;
$p-large-size: 1.4rem;
$p-small-size: 1.2rem;
$p-x-small-size: 1rem;
$p-large-size: 2rem;
$a-size-small: 1.2rem;

$primary-font-family: "Mada", sans-serif;

body {
  font-family: $primary-font-family;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: $background-light;
  color: $text-on-light;
  height: 100vh;
}

h1, h2, p, a {
  font-weight: 400;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

p, li {
  font-size: $p-small-size;
}

a {
  font-size: $a-size-small;
}

// Main Layout
.site-wrapper {
  display: flex;
  height: 100%;
}

.main-app-content {
  height: calc(100% - 150px);
  padding: $sp-large $sp-large $sp-medium $sp-large;
}

.main-content-wrapper {
  height: 100%;
}

// Button Styles
.btn {
  display: flex;
  gap: $sp-x-small;
  border-radius: 30px;
  padding: 5px 20px;
  border: none;
  font-size: $p-small-size;
  font-weight: 500;
  width: max-content;
}

.btn-secondary-on-dark {
  background-color: transparent;
  border: solid 3px white;
  color: white;
}

.btn-secondary-on-dark:hover {
  background-color: $yellow-100;
  border-color: $yellow-100;
  color: $text-on-light;
}

.btn-secondary:hover {
  background-color: $dark-gray;
  color: white;

  transition: 0.25s;
}

.btn-icon {
  padding-top: 2px;
}

// Navbar Styles
.navbar {
  position: absolute;
  align-self: flex-end;
  height: fit-content;
  width: 100%;
  padding: 0px 24%;
  bottom: 50px;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $background-dark;
  border-radius: 60px;
}

.navbar-inner {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80%;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: space-between;
  color: $blue-10;
  overflow: hidden;
  gap: $sp-medium;
}

.navbar-links-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: $sp-medium;
  width: 100%;
}

.navbar-links-wrapper a {
  width: 100%;
  text-decoration: none;
}

.navIcon {
  color: white;
  font-size: 1.75rem;
}

.navIcon i:hover {
  color: $yellow-100;

  transition: 0.25s;
}

// .navLink-home, .navLink-decisions, .navLink-new, .navLink-audit {

// }

// Home Page Dashboard Styles
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: $sp-medium;
  height: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100%;
  gap: $sp-medium;
  align-items: stretch;
  padding: 0;
}

.dashboard-top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  gap: $sp-medium;
}

.pending-decisions-wrapper, .recent-activity-wrapper, .quick-actions {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: $blue-30;
  padding: $sp-medium;
}

.quick-actions {
  height: 50%;
}

.quick-actions-links {
  display: flex;
  width: 100%;
  gap: $sp-small;
}

// .sign-out-wrapper {

// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}