@import "../../styles/variables.scss";

.decisionCard {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: $border-radius-card;
    background-color: $card-light;
    padding: $padding-small;
    gap: 20px;
    box-shadow: 0 0px 20px 12px rgba(0,0,0,0.08);
    transition: box-shadow 0.2s ease;
}

.tileCardSpacing {
  justify-content: space-between;
  gap: 16px !important;
}

.cardMetadataWrapper {
  display: table;
  border-spacing: 0 10px;
}

.cardMetadataRow {
  display: table-row;
}

.labelWrapper {
  display: table-cell;
  width: 50%;
}

.dataWrapper {
  display: table-cell;
  width: 50%;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.status--inprogress {
  background-color: #F15BB5;
}

.status--draft {
  background-color: #E26E44;
}

.status--inreview {
  background-color: #BF00FF;
}

.status--approved {
  background-color: #69CF55;
}

.status--completed {
  background-color: #5081EB;
}

.cardSummary {
  max-height: 88px;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical
}

.tileLastUpdated {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.tileBottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tagsSection {
  max-width: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 10px;
}